version: '3.8'

services:
  frontend:
    build:
      context: .                     
      dockerfile: docker/Dockerfile.frontend 
    ports:
      - "8080:8080"
    networks:
      - app-network

  backend:
    build:
      context: .                      
      dockerfile: docker/Dockerfile.backend   
    ports:
      - "5001:5000"
    depends_on:
      - mysql                         
    environment:
      FLASK_APP: app.py              
      FLASK_RUN_HOST: 0.0.0.0         
      FLASK_RUN_PORT: 5000
      SQLALCHEMY_DATABASE_URI: mysql+pymysql://user:userpassword@mysql/mydatabase
    networks:
      - app-network

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    ports:
      - "3306:3306"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
