#version: '3.8'

services:
  frontend:
    build:
      context: .                       # Contexto raíz del proyecto
      dockerfile: docker/Dockerfile.frontend  # Ruta al Dockerfile de frontend
    ports:
      - "8080:8080"

  backend:
    build:
      context: .                       # Contexto raíz del proyecto
      dockerfile: docker/Dockerfile.backend   # Ruta al Dockerfile de backend
    ports:
      - "5001:5000"

  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: user
      MYSQL_PASSWORD: userpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: