version: '3.8'

services:
  frontend:
    build:
      context: .                       # Contexto raíz del proyecto
      dockerfile: docker/Dockerfile.frontend  # Ruta al Dockerfile de frontend
    ports:
      - "8080:8080"

  backend:
    build:
      context: .                       # Contexto raíz del proyecto
      dockerfile: docker/Dockerfile.backend   # Ruta al Dockerfile de backend
    ports:
      - "5000:5000"
